Options -Indexes

<FilesMatch "^(footer|header)\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Izinkan akses ke login-admin.php dan register-admin.php
RewriteCond %{REQUEST_URI} !^/portal-antara/page/login-admin\.php$
RewriteCond %{REQUEST_URI} !^/portal-antara/page/register-admin\.php$

# Blokir akses ke file PHP lainnya dalam direktori page
RewriteRule ^page/(.*\.php)$ - [F,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]
