* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
}

header .search-header {
    background: #2A3855;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    font-size: smaller;
    font-weight: bold;
}

header .search-header .search-bar input#search {
    text-decoration: none;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 10px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    background-color: #f2f2f2;
}

header nav .container{
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 1280px;
    column-gap: 25px;
}

header nav .container ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
}

header nav .container ul li a {
    text-decoration: none;
    color: #2A3855;
}