/* ========== global ========== */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;

    --color-main: #2A3855;
    --color-secondary-1: #FFFFFF;
    --color-font: #6C757D;
    --fz-small: clamp(10px, 1vw, 12px);
    --fz-medium: clamp(12px, 1vw, 16px);
}

.carousel .carousel-inner .carousel-item img {
    aspect-ratio: 7 / 3;
}

img.update-card-thumbnail {
    aspect-ratio: 3 / 2;
    width: 300px;
}

.center-item-horizontal {
    display: flex;
    justify-content: center;
}

.center-item-vertical {
    display: flex;
    align-items: center;
}

.container-width {
    max-width: 1280px;
}

/* ============================================================ */
/* ========================== Header ========================== */
/* ============================================================ */

header {
    height: 100px;
    position: sticky;
    top: -35px;
    z-index: 3;
}

header .header-top {
    background-color: var(--color-main);
    height: 35px;
    width: 100%;
}

header .header-top .header-top-container {
    width: 100%;
    height: 100%;
}

header .header-top .header-top-container .header-top-info {
    width: 53%;
}

header .header-top .header-top-container .header-top-info ul {
    color: white;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

header .header-top .header-top-container .header-top-info ul li {
    font-size: var(--fz-small);
}

header .header-top .header-top-container .header-top-search {
    width: 47%;
    display: flex;
    flex-direction: row-reverse;
}

header .header-top .header-top-container .header-top-search form .search {
    font-size: var(--fz-small);
    background-color: var(--color-secondary-1);
    width: max-content;
    height: 26px;
    border-radius: 20px;
    display: flex;
    padding: 0px 5px;
    align-items: center;
}

header .header-top .header-top-container .header-top-search form .search input.search-input {
    width: 208px;
    outline: none;
    border: none;
    background: transparent;
}

header nav.header-nav {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
}

header nav.header-nav .header-nav-container {
    width: 100%;
    height: 100%;
}

header nav.header-nav .header-nav-container .header-nav-link {
    /* background-color: aqua; */
    width: 85%;
    height: 100%;
}

header nav.header-nav .header-nav-container .header-nav-link a img {
    height: 45px;
}

header nav.header-nav .header-nav-container .header-nav-link ul {
    display: flex;
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0;
    justify-content: space-between;
    flex-grow: 1;
}

header nav.header-nav .header-nav-container .header-nav-link ul li a {
    text-decoration: none;
    color: var(--color-font);
    font-size: var(--fz-medium);
    transition: 1s;
    padding: 50px 0;
}

header nav.header-nav .header-nav-container .header-nav-link ul li:hover a {
    color: var(--color-main);
    transition: 1s;
}

header nav.header-nav .header-nav-container .header-nav-link ul li ul {
    box-sizing: border-box;
    position: absolute;
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    left: 0;
    background-color: white;
    width: 150%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

header nav.header-nav .header-nav-container .header-nav-link ul li.dropdown:hover ul {
    display: block;
}

header nav.header-nav .header-nav-container .header-nav-login {
    width: 15%;
    height: 100%;
    flex-direction: row-reverse;
}

header nav.header-nav .header-nav-container .header-nav-login .menu-toggle {
    display: none;
    cursor: pointer;
}

header nav.header-nav .header-nav-container .header-nav-login .title-button {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

header nav.header-nav .header-nav-container .header-nav-login .login-button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--color-main);
}

header nav.header-nav .header-nav-container .header-nav-login .login-button svg {
    height: 30px;
    width: 30px;
}

/* ============================================================ */
/* ========================== Header ========================== */
/* ============================================================ */




@media screen and (max-width: 768px) {

    /* ============================================================ */
    /* ========================== Header ========================== */
    /* ============================================================ */
    header {
        height: 65px;
        position: sticky;
        top: 0;
        z-index: 3;
    }

    header .header-top {
        display: none;
    }

    header nav.header-nav .header-nav-container {
        padding: 0px 10px;
    }

    header nav.header-nav .header-nav-container .header-nav-link .nav-menu {
        display: none;
    }

    header nav.header-nav .header-nav-container .header-nav-link .nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-self: flex-start;
        margin-top: 65px;
    }

    header nav.header-nav .header-nav-container .header-nav-login .menu-toggle {
        display: inline;
        margin-right: 10px;
    }

    
    /* ============================================================ */
    /* ========================== Header ========================== */
    /* ============================================================ */
}